body {
  background-image: url(../src/images/fondoazul.jpg);
  background-size: cover;
}
.App {
  text-align: center;
}
/* //NAVBAR */
.NavTextColor {
  color:white;
}
.SectionNav {
  text-align: center;
  margin-right: 5rem;
}
.NavBarClass img {
  height: 3rem;
  background-color: transparent;
}
/* //HOME */
.ContainerProducts {
  justify-content: center;
  border-radius: 10px;
}
.ContainerCard{
cursor: pointer;
}
.ContainerImg {
  height: 300px;
  object-fit: contain;
}
.ContainerInfo {
  height: 120px;
  background-color: #9dddb0;
  border-radius: 7px;
}
.Footer span{
  font-size: 2.5rem;
}
/* //PURCHASES */
.ListPurchases{
 width: 50%;
 margin:auto;
}
.TablePurchases th{
  min-width: 4rem;
}
.TablePurchases td{
  width: 4rem;
}
/* //LOGIN */
.LoginUser {
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}
.LoginUser img{
  height: 3rem;
  background-color: transparent;
}
.FormLogin {
  border: 1px solid black;
  padding: 2rem 4rem;
  width: 40%;
  margin:3rem auto;
  border-radius: 10px;
  opacity: 90%;
  text-align: center;
}
/* //PRODUCT DETAIL */
.DetailContainer {
  display: flex;
  justify-content: center;
}
.ImgDetail {
  margin:20px;
  width: 50%;
}
.ImgDetail img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}
.InfoDetail {
  margin:20px;
  text-align:justify;
  width: 50%;
}
.ImgSuggested {
  width:fit-content;
  height: 300px;
}
.ImgSuggested img {
  height: 100%;
}
.SuggestedProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.SuggestedProducts h3{
  margin-right: 2rem;
}
/* //COUNTER */
.Counter {
  display: flex;
  text-align: center;
}
.Counter h3 {
  margin-right: 10px;
  text-align: center;
}
.Counter button {
  margin-right: 10px;
  border-radius: 50%;
  background-color: #9dddb0;
  opacity: 80%;
  text-align: center;
}
/* //SHOPPING CART */
.ButtonShoppingCart {
  margin:0;
  padding:0;
}